.menu_buttons {
    border: 0px;
    background-color: transparent;
    font-weight: bold;
}

.background-color {
    height: 100px;
    background-color: aqua;
}
body {
    background-image: url('orange.jpg');
  }