label {
    font-family: 'Open Sans' sans-serif;
    color: #fff;
    margin: 0;
  }
  .container {
    display: block;
    border: 8px solid #414178;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 0 10px 10px;
    max-width: 330px;
    background-color: #ac9dd1;
  }
  .title {
    display: inline-block;
  }
  .title h2 {
    padding: 0 10px 0 0px;
    margin: 5px 0;
    color: #FBFBFB;
  }