* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
}

.left-container {
    flex: 1 1 0;
    padding: 30px 60px 30px 20px;
    background-color: rgb(52, 3, 89);
    color: white;
}

.left-container .secondary-color {
    color:rgb(137, 33, 216)
}

.left-container .sub-heading {
    margin-top: 15px;
    margin-bottom: 60px;
}

.left-container .statistics-data {
    display: flex;
    justify-content: space-between;
}

.left-container .statistics-data .margin-bottom-sm {
    margin-bottom: 4px;
}

.right-container {
    flex: 1 1 auto;
    padding: 30px 60px 30px 20px;
    background: url("images/people-office.jpg") no-repeat;
    background-size: cover;
}